@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;

}

html, body {
    height: 100vh;
    width: 100vw;
    background: black;
}

body {
    background: url('imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
    
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 311px;
    height: 627px;
    background-image: url('imagens/frame-iphone.png');
    

}

section#telefone iframe {
    position: relative;
    width: 266px;
    left: 22px;

    height: 470px;
    top: 80px;
      

}

section#redes-socias {
    text-align: right;
}

section#redes-socias img:hover {
    width: 60px;
    height: 60px;
    border: 2px solid rgba(255, 255, 255, 0.307);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.438);
}

section#redes-socias img {
    width: 50px;
    height: 50px;

    margin: 10px;
    border-radius: 50%;
    transition: ease-in 0.5s;
    box-sizing: border-box;
    
}