@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100vh;
    width: 100vw;
    background: black;
}

body {
    background: url('imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
    
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 311px;
    height: 627px;
    background-image: url('imagens/frame-iphone.png');
    

}

section#telefone iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 265px;
    height: 470px;

}